html, body {
    background: #ffeead;
    margin: 10px;
}

.container {
    border: 5px solid #ffcc5c;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}

.container > div:nth-child(2) {
    background-color: #ff6f69;
}

.container > div:nth-child(3) {
    background-color: #88d8b0;
}

/* */
#container1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#container1 > div {
    flex: 1;
    align-self: stretch;
}

/* */
#container2 {
    display: flex;
    flex-direction: row;
}

#container2 > .home {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    order: 0;
}

#container2 .logout {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    order: 1;
}